<template name="postContenders" class="container">
  <div class="post row">

    <div class="post-content col-md-3">
      <p><strong>The Contender</strong></p>
      <p style="font-size: 30px">{{author}}
      <span><img src="http://png-5.findicons.com/files/icons/2711/free_icons_for_windows8_metro/512/crown.png" height="25px" /></span></p>
    </div>

    <div class="post-content col-md-3">
      <p><strong>The Challenger</strong></p>
      <p style="font-size: 30px">{{displayText}}</p>
    </div>

    <div class="post-content col-md-3">
      {{#if ownPost}}
      <a href="{{pathFor route='contendersList'}}" class="btn btn-primary">Select Challenger</a>
      <p>Pick your foe from a list of Challengers.</p>
      {{/if}}
    </div>

    <div class="post-content col-md-3">
      {{#if ownPost}}
      <button class="btn btn-danger notifyChange">Notify Changes</button>
      <p>Rally your Spectators and others after selecting your Challenger.</p>
      {{/if}}
    </div>

  </div>
</template>



<template name="contendersList">
  {{> postItem}}

  <div class="post">
    <div class="post-content">

    <label>List of Challengers</label>

    {{#each challengers}}
      {{> contender}}
    {{/each}}

    </div>
  </div>
</template>



<template name="contender">
  <p>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#user-{{this}}" data-whatever="{{userName}}">Select Challenger</button>

    {{userName}}

  </p>

  <div class="modal fade bs-example-modal-sm example" id="user-{{this}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary no" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary yes">Yes</button>
        </div>
      </div>
    </div>
  </div>




</template>
