<template name="postPage">
  {{> postItem}}

  {{> postContenders}}

  <div class="post">
    <div class="post-content">
      <p><strong>{{activity}}</strong></p>
      <p><strong>{{description}}</strong></p>
      <p><strong>{{dateAndTime}}</strong></p>


      <p><a href="{{pathFor route='postSpectators'}}"> List of Spectators</a></p>
      <p><a href="{{pathFor route='postChallengers'}}"> List of Challengers</a></p>


      {{#if currentUser}}
        {{#if ownPost}}

        {{else}}
          <input type="submit" value="{{joinedSpec}}" class="{{joinedSpecClass}}"/>
          <input type="submit" value="{{joinedChall}}" class="{{joinedChallClass}}"/>
        {{/if}}
      {{else}}
        <p>Please login to join as Spectator or Challenger.</p>
      {{/if}}


    </div>
  </div>


  <ul class="comments">
    {{#each comments}}
      {{> commentItem}}
    {{/each}}
  </ul>

  {{#if currentUser}}
    {{> commentSubmit}}
  {{else}}
    <p>Please log in to leave a comment.</p>
  {{/if}}

</template>