<template name="postPage">
  {{> postItem}}

  <div class="post">
    <div class="post-content">
      <p><strong>{{activity}}</strong></p>
      <p><strong>{{description}}</strong></p>


      <table class="table">
        <tr>
          <th><input type="submit" value="Join as Spectator" class="upSpec btn btn-primary"/></th>
          <th><input type="submit" value="Join as Challenger" class="upChall btn btn-danger"/></th>
        </tr>
        <tr>
          <td>{{specJoins}} Spectators</td>
          <td>{{challJoins}} Challengers</td>
        </tr>
      </table>

    </div>
  </div>


  <ul class="comments">
    {{#each comments}}
      {{> commentItem}}
    {{/each}}
  </ul>

  {{#if currentUser}}
    {{> commentSubmit}}
  {{else}}
    <p>Please log in to leave a comment.</p>
  {{/if}}

</template>