<template name="postEdit">
  <form class="main form">


    <div class="form-group">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
        <input name="title" id="title" type="text" value="{{title}}" placeholder="Name your post." class="form-control"/>
        <span class="help-block">{{errorMessage 'title'}}</span>
      </div>
    </div>


    <div class="form-group">
      <label class="control-label" for="activity">Activity</label>
      <div class="controls">
        <input name="activity" id="activity" type="text" value="{{activity}}" placeholder="What are we doing?" class="form-control"/>
        <span class="help-block">{{errorMessage 'activity'}}</span>
      </div>
    </div>


    <div class="form-group">
      <label class="control-label" for="description">Description</label>
      <div class="controls">
        <input name="description" id="description" type="text" value="{{description}}" placeholder="Taunt your challenger. Designate a battleground." class="form-control"/>
        <span class="help-block">{{errorMessage 'description'}}</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="dateAndTime">Pick a date and time. (Optional)</label>
        {{> datetimepicker}}
    </div>


    <input type="submit" value="Submit" class="btn btn-primary"/>
    <hr/>
    <a class="btn btn-danger delete" href="#">Delete post</a>
  </form>
</template>