<template name="postItem">
  <div class="post">
    <div class="post-content">
      <h3 id="postTitle"><a href="{{pathFor 'postPage'}}">{{title}}</a></h3>

      <p>
        <a href="{{pathFor route='postSpectators'}}"> {{specJoins}} Spectators,</a>
        <a href="{{pathFor route='postChallengers'}}"> {{challJoins}} Challengers,</a>
        <a href="{{pathFor 'postPage'}}">{{commentsCount}} comments,</a>
        submitted by <span id="authorMark">{{author}}</span>
          {{#if ownPost}}
          <a href="{{pathFor 'postEdit'}}" style="color: red">Edit Post</a>
          {{/if}}
      </p>


    </div>
      {{#if openPost}}
        <a href="{{pathFor 'postPage'}}" class="btn btn-success bite">Open</a>
        {{else}}
        <a href="{{pathFor 'postPage'}}" class="btn btn-danger bite">Closed</a>
      {{/if}}
  </div>
</template>