<template name="datetimepicker">

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <div class="input-group date" id="datetimepicker1">
              <input name="dateAndTime" type="text" class="form-control" value="{{dateAndTime}}"/>
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
        </div>
      </div>
    </div>
  </div>


</template>